# Python bytecode files
*.pyc
*.pyo
__pycache__/

# Environment variables
.env
/.env

# Virtual environment folder (agar aapka venv folder hai)
venv/
env/
.venv/
myenv/
.myenv/

# Django migrations
*/migrations/
!*/migrations/__init__.py    


# SQLite database
db.sqlite3
*.sqlite3

# settings.py
visamanagement/settings.py
